<a href="https://colab.research.google.com/github/chanhwi17/hw_chan/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
"My homework is too late. I'm sorry"

"My homework is too late. I'm sorry"

In [9]:
import tensorflow as tf
import numpy as np
import pandas as pd
money2 = pd.read_csv('/content/money2.csv')

In [10]:
money2

       n  people   a   b   c   d   e   f  bonus
0      1       0  10  23  29  33  37  40     16
1      2       1   9  13  21  25  32  42      2
2      3       1  11  16  19  21  27  31     30
3      4       0  14  27  30  31  40  42      2
4      5       0  16  24  29  40  41  42      3
..   ...     ...  ..  ..  ..  ..  ..  ..    ...
976  977      14   2   9  10  14  22  44     16
977  978      10   1   7  15  32  34  42      8
978  979      14   7  11  16  21  27  33     24
979  980       7   3  13  16  23  24  35     14
980  981      13  27  36  37  41  43  45     32

[981 rows x 9 columns]